<h1 class="mt-5 text-center">Supply Blockchain</h1>
<div class="hstack gap-2 justify-content-center">
    <p>
        <a href="/">Administrators</a>
    </p>
    <p>
        <a href="/devices">Devices</a>
    </p>
    <p>
        <a href="/iot">IoT</a>
    </p>
</div>
